/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 400px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #202020;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
/* footer */
/*====================================================
	footer
====================================================*/
.footer .widget .title {
  color: #ffffff!important;
  border-bottom: 1px solid #303030;
}

.footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #428bca;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post:last-child {
  margin-bottom: 0;
}
.widget .recent-post .recent-single-post .post-title {
  color: #505050;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .recent-post .recent-single-post .post-title:hover {
  color: #f4645f;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date {
  color: #959595;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #428bca;
  border: 1px solid #428bca;
  text-decoration: none;
}
.widget .social {
  padding: 0;
  margin: 0;
}
.widget .social li {
  display: inline-block;
  margin: 0 2px 5px 0;
  text-align: center;
}
.widget .social li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  color: #959595;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .social li:hover i {
  color: #ffffff;
  background: #428bca;
  border: 1px solid #428bca;
}
.widget .newsletter .input-group {
  margin-bottom: 10px;
  display: block;
}
.widget .newsletter .input-group .email,
.widget .newsletter .input-group btn {
  width: 100%;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
h4.title{
  font-size: 2em;
}
.footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.footer .widget .title {
  color: #ffffff;
  border-bottom: 1px solid #303030;
}
.footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.footer .widget .tag-cloud a:hover {
  border: 1px solid #428bca;
}
.footer .widget .friend-links a {
  border: none;
}
.footer .widget .friend-links a:hover {
  border: none;
}
.footer .widget .friend-links hr {
  margin: 1em 0;
  border-top: 1px dashed #303030;
}
.footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030;
}
.footer .widget .recent-post .recent-single-post .post-title {
  color: #959595;
}
.footer .widget .recent-post .recent-single-post .post-title:hover {
  color: #428bca;
}
.footer .widget .recent-post .recent-single-post .date {
  color: #505050;
}
.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #555555;
}
::-moz-selection {
  color: #ffffff;
  background: #f4645f;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background: #428bca;
  text-shadow: none;
}